@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.container h1 {
    font-size: 3.1rem;
    text-align: left;
    width: 80vw;
    line-height: 3.3rem;
    margin: 0;
    padding: 0;
    font-family: Poppins, 'sans-serif';
    /* padding-left: 1em; */
    /* background-image:url("/Asset/blob1.svg");
    background-repeat: no-repeat;
    background-position: 6em; */
}

img {
    width: 85vw;
}

.emphasy {
    background-image: linear-gradient(to right, #1e90ff, #bc62ff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.btn {
    width: 80vw;
    height: 7vh;
    border-radius: 2rem;
}

.signinSection {
    margin-top: 5vh;
}

.signinSection p {
    color: var(--shade-two);
    width:100vw;
    text-align: center;
}
#blob{
    position: fixed;
    z-index: -1;
    margin: none;
    right:-50vw;
    /* bottom:-1vw; */
}

* {
    /* outline: 1px dashed red; */
}