.fa-house+.dot {
    display: none;
}

.navSearchSection {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    width: 87%;
    padding: 1em;
    outline: none;
    margin-bottom: 1rem;
}
.buttonContainer{
    width: 60vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.buttonContainer .btn {
    width: 40rem;
}

.historyCardsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.historyCardContainer .taskCard {
    height: 7vh;
}