.newTaskDivContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96.7vh;
    width:98vw;
    background: var(--background);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index:10;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.newTaskDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(10px); */
}

input[type="text"] {
    width: 90%;
    padding: 1em;
    outline: none;
    color: white;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.taskTitle::placeholder {
    color: rgba(255, 255, 255, 0.349);
}

.taskTitle::placeholder,
.taskTitle:-ms-input-placeholder {
    opacity: 1;
    color: rgba(255, 255, 255, 0.459);
}

select {
    width: 100%;
    padding: 1em;
    background: var(--shade-two);
    outline: none;
    border-radius: 15px;
    color: white;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

input[type="time"] {
    width: 50%;
    height: 3rem;
    border-radius: 15px;
    border: none;
    background: var(--shade-two);
    outline: none;
    font-size: 1.2rem;
    color: white;
}

textarea {
    width: 85%;
    padding: 1em;
    outline: none;
    color: white;
    border-radius: 15px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    background: var(--shade-two);
    font-size: 1.2rem;
    font-family: 'poppins', sans-serif;
}

button {
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
*{
    /* outline: 1px dashed red; */
}