.newTaskDivContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96.7vh;
    width:100vw;
    background: var(--background);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index:10;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.newTaskDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin-bottom: 2rem;
    /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(10px); */
}

input[type="text"] {
    width: 90%;
    padding: 1em;
    outline: none;
    color: white;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.newTaskTitle::placeholder {
    color: #ffffff;
}

.newTaskTitle::placeholder,
.newTaskTitle:-ms-input-placeholder {
    opacity: 1;
    color: #ffffff;
}

select {
    width: 100%;
    padding: 1em;
    background: var(--shade-two);
    outline: none;
    border-radius: 15px;
    color: white;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

input[type="date"],input[type="time"]{
    width: 70%;
    height: 3rem;
    border-radius: 15px;
    border: none;
    background: var(--shade-two);
    outline: none;
    font-size: 1.2rem;
    /* display: none; */
    color: white;
}
/* input[type="time"]{
    width: 50%;
    height: 3rem;
    border-radius: 15px;
    border: none;
    background: var(--shade-two);
    outline: none;
    font-size: 1.2rem;
    display: none;
    color: white;
} */
.newTaskDivContainer label{
    /* border: 1px dashed var(--main-color); */
    border-radius: 1px;
    padding: 1em;
    background: var(--shade-two);
    border-radius: 15px;
    cursor: pointer;
    text-align: center;

}
textarea {
    width: 85%;
    padding: 1em;
    outline: none;
    color: white;
    border-radius: 15px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    background: var(--shade-two);
    font-size: 1.2rem;
    font-family: 'poppins', sans-serif;
}
.newTaskNote::placeholder{
    color: #fff;
    opacity: 1;
}
button {
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
*{
    /* outline: 1px dashed red; */
}