@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("/css/theme.css") all;
/* @import url("/css/toggler.css") all; */

:root {
    background-color: var(--dark-shade);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userAvatar {
    width: 40px;
    border-radius: 50%;
}

body {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 5rem;
}

h1 {
    font-size: 32px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    font-family: Poppins, 'sans-serif';
}

p {
    font-size: 16px;
}

.label {
    font-size: 14px;
}

.caption {
    font-size: 12px;
}

.btn {
    border: 1px solid #fff;
    margin: 5px;
    height: 5vh;
    background: none;
    color: #fff;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
}

.btn-positive {
    background: var(--main-color);
    border: none;
}

.btn-positive:active {
    background-color: var(--main-color-active);
}

.btn-alternate:active {
    background: var(--shade-three);
}

.btn-notActive {
    border: none;
    color: var(--shade-three);

}

.btn-notActive:active {
    background: var(--shade-three);
    color:var(--shade-two);
}
.back-btn{
    padding:1.3em 1em;
}
.component-grey-input{
    background: #ffffff44;
    border: none;
    border-radius: 15px;
    padding: 1rem;
}
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.progressBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.progressBar .outbar {
    width: 100%;
    height: 7px;
    background: var(--shade-one);
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    margin: 0;
    padding: 0;
}

.progressBar .inbar {
    height: 100%;
    width: 76%;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    background-color: var(--main-color);
}

.progressBar h3 {
    text-align: left;
    width: 100%;
}

.component-grey-card {
    background: var(--shade-three);
    padding: 0.5rem;
    border-radius: 15px;
    margin-top: 2rem;
    box-shadow: 0px 0px 70px #000000a6;
}

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background-image: linear-gradient(to top, var(--dark-shade), var(--dark-shade), var(--dark-shade), #ffffff00);
}
footer .fa-solid{
    font-size: 1.2rem;
}

footer .fa-plus {
    font-size: 1.5rem;
    padding: 1rem 1.1rem;
    border-radius: 50%;
    background: var(--main-color);
    
}
.completedTaskCard{
    border:1px solid var(--primary-light-green)
}
.dot{
    background: var(--main-color);
    padding: 2px;
    border-radius: 50%;
    margin-top: 10px;
    position: absolute;
    bottom:4px;
}

.feedsContainer{
    margin-top:5vh;
}
.feedsContainer p{
    padding-left: 0.5rem;
}
.blogContainer p{
font-size: 1rem;
}
.blogImgContainer{
    overflow: hidden;
    height: 25vh;
    border-radius: 15px;
}
.blogImgContainer img{
    object-fit:cover;
    width: 100%;
}
.blogContainer{
    margin-bottom:2rem;
}
