<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FocusFlow | Home</title>
    <script src="/js/mobile.js"></script>
    <link rel="shortcut icon" href="./Asset/icon.png" type="image/png">
    <link rel="preload" href="/css/style.css" as="style">
    <link rel="stylesheet" href="/css/style.css">
</head>
<div class="header"><button class="btn btn-positive back-btn flex-center"> <i class="fa-solid fa-angle-left"></i></button></div>
<body>

    <footer>
        <div class="footerIconContainer flex-center flex-column">
            <i class="fa-solid fa-house"></i>
            <div class="dot"></div>
        </div>
        <i class="fa-solid fa-plus"></i>
        <div class="footerIconContainer flex-center flex-column">
            <i class="fa-solid fa-clipboard"></i>
            <div class="dot"></div>
        </div>
    </footer>


    <script src="/js/index.js"></script>
    <script type="module" src="/js/script.js"></script>
</body>

</html>