<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FocusFlow | Home</title>
    <script src="/js/mobile.js"></script>
    <link rel="shortcut icon" href="./Asset/icon.png" type="image/png">
    <link rel="preload" href="/css/style.css" as="style">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/taskCategory.css">
</head>

<body>
    <div class="header flex-center"><button class="btn btn-positive back-btn flex-center"> <i
                class="fa-solid fa-angle-left"></i></button>
        <h1 class="categoryName"> Category</h1>
    </div>
    <div class="component-grey-card">
        <p>Percentage of <span class="categoryName">Category</span> Completed</p>


        <div class="progressBar flex-center">
            <div class="outbar">
                <div class="inbar taskCategoryBar"></div>
            </div>

            <h3><span class="progressPercentage" data-counter-min="0" data-counter-speed="20" data-counter-increment="1"
                    data-counter-delay="0" data-counter-max="0">0</span>%</h3>
        </div>
    </div>
    <div class="buttonContainerContainer">
        <div class="buttonContainer flex-center">
            <button class="btn btn-positive btn-all-task">All</button>
            <button class="btn btn-notActive btn-completed-task">Completed</button>
        </div>
    </div>
    <div class="taskCardContainer">
        <!-- Contents here are generated Dynamically -->
    </div>





    <footer>
        <div class="footerIconContainer flex-center flex-column">
            <i class="fa-solid fa-house"></i>
            <div class="dot"></div>
        </div>
        <i class="fa-solid fa-plus"></i>
        <div class="footerIconContainer flex-center flex-column">
            <i class="fa-solid fa-clipboard"></i>
            <div class="dot"></div>
        </div>
    </footer>


    <!-- <script src="/js/index.js"></script> -->
    <script type="module" src="/js/script.js"></script>
    <script src="/js/counter.js"></script>
    <script type="module" src="/js/taskCategory.js"></script>

</body>

</html>